# Python for Psychologists - Session 12


## Recap: dataframe handling

The Titanic dataset

Today we will explore the Titanic dataset.

You can find the Titanic dataset and a corresponding tutorial challenge on Kaggle at https://www.kaggle.com/c/titanic

In [ ]:
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns 
import numpy as np
%matplotlib inline

We can use seaborns `load_dataset` function to load the titanic dataset, or we could get it from kaggle. The `load_dataset()` function fetches datasets available at https://github.com/mwaskom/seaborn-data.  

Variables:

    Survived: Survived (1) or died (0)
    Pclass: Passenger's class
    Name: Passenger's name
    Sex: Passenger's sex
    Age: Passenger's age
    SibSp: Number of siblings/spouses aboard
    Parch: Number of parents/children aboard
    Ticket: Ticket number
    Fare: Fare
    Cabin: Cabin
    Embarked: Port of embarkation

#### 1) Load the dataset "titanic" using the seaborn `load_dataset()` function.

#### 2) Inspect the dataframe (i.e., descriptive statistics) and check for missing values

#### 3) There are two columns with only two missing values, try to drop these rows in one line of code using `dataframe.dropna(subset=...)`.

#### 4) The variable "embarked" contains ["S","C","Q"], try to convert these strings to integers using `dataframe[].replace`  (note: this does not happen in place, but returns the respective transformed Series) together with a dictionary that encodes C:0, Q:1, S:2.

#### 5) Try to print the "female and male only count" below, i.e., you need to select a subset of the dataframe that only shows female or male passengers and count these respectively by using `.count()`

In [ ]:
print("\n Female only count")


print("\n Male only count")

#### 6) Plot age for male and female passengers using seaborn´s boxplot

#### 7) Now try to get the mean age for female and male passengers in a single line of code (hint: you might need to group your dataframe in some way)

#### 8) Try to plot the age distribution using seaborns `distplot()`, but keep in mind that the variable age has a lot of missing values and plotting won´t work (hint: drop NaN values first)

#### 9)Try to use seaborns `countplot` to plot how many passengers survived color coded (i.e., the `hue=` parameter) by 1) class and 2) who

In [ ]:
plt.figure()


plt.figure()

#### 10)This seems like third class passengers and men were not very lucky when the titanic crashed the floating berg.
#### Try to dissolve both plots depicted above using seaborns `pointplot()` to get a better picture.

#### 11) Create a new column ["fam_size"], that contains the family size of each passenger

In [ ]:
1 #calculate family size

#### 12) How many percent of the passengers died/survived? (hint: you need to select subsets of the dataframe)

#### 13) How many female/male passengers died/survived?

#### 14) What´s the mean age of female and male survivors?

#### 15) Create two variables that contain only the age for female and male passengers and try to calculate a t-test using `stats.ttest_ind(....., nan_policy="omit")` 


For now we ingore the missing values and calculate the t-test for learning purposes only. 


A comprehensive overview on scipy stats can be found here: https://docs.scipy.org/doc/scipy/reference/stats.html

In [ ]:
x = 
y =

In [ ]:
from scipy import stats

#### 16) Calculate a pearson correlation between age and fare and try to plot the association using `sns.jointplot(....., kind="reg")` afterwards

In [ ]:
titanic.dropna(subset=["age"], inplace=True) # for now, we are dropping all rows that does not contain age values